#grid-container{
    display: grid;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-columns: 400px 1fr 1fr;  
    height: 100vh;
    gap: 10px;
    font-size: 35px;
    font-weight: bold  ;
}
.header{
    grid-column: 1 / 4;
    background-color: blue;
    border: 5px solid black;
}
.sidebar{
    grid-row: 2 / 4;
    background-color: red;
    border: 5px solid black;
}
.content-1{
    grid-column: 2 / 4;
    background-color: green;
    border: 5px solid black;
}
.content-2{
    background-color: green;
    border: 5px solid black;
}
.content-3{
    background-color: green;
    border: 5px solid black;
}
.footer{
    grid-column: 1 / 4;
    background-color: orange;
    border: 5px solid black;
}
